<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProjectName</key>
	<string>9FF5C632-3188-408D-91D5-80B95F07CD37</string>
	<key>SDK</key>
	<string>iPhoneOS14.5.sdk</string>
</dict>
</plist>
